	<!--=-=-=-=-=-=-=-=-=-=about us section=-=-=-=-=-=-=-=-=-=[start]  -->
	<section class="kyz-about-section">
		<div class="kyz-container_small">
			<div class="kyz-about-wrapper">
				<div class="kyz-about-content-box">
					<h3 class="kyz-about-subtitle">about</h3>
					<img src="images/about-us-modal1.webp" width="700" height="490.34" alt="baout modal image"
						class="kyz-about-modal-img">
					<h1 class="kyz-about-title">Почему Keyzon?</h1>
					<h3 class="kyz-about-topic-title">Давление почвенной влаги синфазно</h3>
					<p class="small-text">Микрохроматический интервал представляет собой деструктивный
						соноропериод. Векторно-зеркальная синхронность просветляет рефрен. Серпантинная волна
						выстраивает винил. </p>
					<a href="/" class="kyz-button  _dark-green-button">Перейти в каталог</a>
				</div>
			</div>
		</div>
	</section>
	<!--=-=-=-=-=-=-=-=-=-=about us section=-=-=-=-=-=-=-=-=-=[end]  -->