		<!-- sidebar links items -->
        <div class="kyz-account-sidebar-link-content @@class">
            <h4 class="kyz-link-items-title">account</h4>
            <ul class="kyz-account-link-item">
                <li class="kyz-acount-liks"><a href="/">Shopping cart</a></li>
                <li class="kyz-acount-liks"><a href="/">Order history</a></li>
                <li class="kyz-acount-liks"><a href="/">Account settings</a></li>
            </ul>
            <button class="kyz-account-logout-btn">logout</button>
        </div>
        <!-- [end] -->