<!-- hero section===============[start]  -->
<section class="kyz-hero-section">
    <div class="kyz-container_medium">
        <div class="kyz-hero__main-cont-wrap">
            <div class="kyz-hero__content">
                <h1 class="kyz-hero__title main-title">
                    Vmware Workstation 17 Pro Lifetime License
                </h1>
            </div>
            <div class="kyz-hero__product">
                <div class="kyz-hero__product--image">
                    <img src="../dist/images/hero-modal.webp" alt="banner modal image" width="680" height="350"
                        loading="lazy">
                </div>
                <div class="kyz-hero__product--price">
                    12,00 $
                </div>
            </div>
            <a href="#" class="kyz-button kyz-hero-button _lime-button">
                Перейти в каталог
            </a>
        </div>
    </div>
</section>
<!-- hero section===============[End]  -->