	<!--=-=-=-=-=-=-=-=-=-=benefit section=-=-=-=-=-=-=-=-=-=[start]  -->
	<section class="kyz-benefit-section-box @@class">
		<div class="kyz-container_small">
			<div class="kyz-benefit-top-wrapper">
				<div class="kyz-benefit-brand">
                        <svg width="202" height="236" viewBox="0 0 204 237" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M203.774 77.9675V35.7662L102.358 0.486328L0.941079 35.7778V77.7936C0.906297 79.1211 -2.31676 210.444 100.404 236.072L102.369 236.564L104.334 236.072C205.275 210.873 203.902 83.6252 203.78 77.9675H203.774ZM102.363 219.817C14.4304 196.154 17.1318 79.5153 17.1724 78.066V47.3136L102.358 17.6741L187.543 47.3078V78.0602L187.549 78.3269C187.583 79.5095 190.302 196.149 102.363 219.823V219.817Z" fill="white"/>
                            <path d="M97.2498 139.234L63.1525 108.551L52.2949 120.614L99.3598 162.967L161.514 83.0391L148.703 73.0742L97.2498 139.234Z" fill="white"/>
                            </svg>
                    </div>
				<h1 class="kyz-benefit-top-title">Гарантия возврата средств</h1>
				<p class="large-text">Интеграл Пуассона развивает метод последовательных приближений. Наряду
					с этим, высшая арифметика в принципе восстанавливает отрицательный абсолютно сходящийся
					ряд. Непрерывная функция привлекает вектор.</p>
			</div>
			<div class="kyz-benefit-main-content">
				<!-- benefit cards items -->
				<div class="kyz-benefit-items-cards">
					<h3 class="kyz-benefit-title">Наши эксклюзивы</h3>
					<p class="kyz-benefit-description p-text">Функция B(x,y) создает абстрактный неопределенный
						интеграл. Степенной ряд, как следует из вышесказанного, специфицирует скачок функции.
						Легко проверить, что первая производная обуславливает действительный интеграл
						Гамильтона. Интеграл Пуассона отнюдь не очевиден.</p>
				</div>
				<!-- [end] -->
				<!-- benefit cards items -->
				<div class="kyz-benefit-items-cards">
					<h3 class="kyz-benefit-title">Регулярные акции и распродажи</h3>
					<p class="kyz-benefit-description p-text">Функция B(x,y) создает абстрактный неопределенный
						интеграл. Степенной ряд, как следует из вышесказанного, специфицирует скачок функции.
						Легко проверить, что первая производная обуславливает действительный интеграл
						Гамильтона. Интеграл Пуассона отнюдь не очевиден.</p>
				</div>
				<!-- [end] -->
				<!-- benefit cards items -->
				<div class="kyz-benefit-items-cards">
					<h3 class="kyz-benefit-title">Пакетные предложения</h3>
					<p class="kyz-benefit-description p-text">Интеграл Пуассона развивает метод последовательных
						приближений. Наряду с этим, высшая арифметика в принципе восстанавливает отрицательный
						абсолютно сходящийся ряд. Непрерывная функция привлекает вектор.</p>
				</div>
				<!-- [end] -->
			</div>
		</div>
	</section>
	<!--=-=-=-=-=-=-=-=-=-=benefit section=-=-=-=-=-=-=-=-=-=[end]  -->