   <!--=-=-=-=-=-=-=-=-=-=block content section=-=-=-=-=-=-=-=-=-=[start]  -->
   <section class="kyz-block-content-section">
    <div class="kyz-container">
        <div class="kyz-block-content-wrapper">
            <div class="kyz-block-cont-one">
                <img src="images/lock-icons.svg" alt="lock icon" class="kyz-block-icon">
                <span class="kyz-block-title">Terms of Service</span>
            </div>
            <div class="kyz-block-cont-two"></div>
            <div class="kyz-block-cont-three">
                <img src="images/user-icons-green-light.svg" alt="user icon" class="kyz-block-icon">
                <span class="kyz-block-title">Privacy Policy</span>
            </div>
        </div>
    </div>
</section>
<!--=-=-=-=-=-=-=-=-=-=block content section=-=-=-=-=-=-=-=-=-=[end]  -->
