<!-- ============cookie policy section styles==========[start] -->
<!-- after first load page By passing 'active' class cookie policy show after 5s delay  
            ,after click accept or decline should removed the active class-->
<div class="kyz-cookie-policy-content-wrap">
    <div class="kyz-container">
        <div class="kyz-cookie-text-content">
            <h2 class="kyz-cookie-title">Cookie Policy</h2>
            <p class="kyz-cookie-desc">Our website uses cookies to improve your browsing experience. By using our
                site
                you agree to the use of cookies. </p>
        </div>
        <div class="kyz-cookie-button-content">
            <button class="kyz-user-action-button">Accept</button>
            <button class="kyz-user-action-button">Decline</button>
            <button class="kyz-user-action-button">Learn more</button>
        </div>
    </div>
</div>
<!-- ============cokie policy section styles==========[end] -->
