<!--  cta form start here -->
<form action="#" class="kyz-cta--form">
    <label class="kyz-cta--form--label name-input">
        <input type="text" name="name" placeholder="Name" required class="kyz-cta--form--input">
    </label>
    <label class="kyz-cta--form--label name-email">
        <input type="email" name="email" placeholder="Email" required class="kyz-cta--form--input">
    </label>
    <label class="kyz-cta--form--label name-msg">
        <textarea name="message" placeholder="Message"
            class="kyz-cta--form--textarea textarea-alt textarea-scrollbar"></textarea>
    </label>
    <label class="kyz-cta--form--checkbox">
        <input type="checkbox" name="privacy-policy" required class="checkbox__input">
        <span class="checkbox__element"></span>
        <span class="checkbox__text">
            Ознакомлен с политикой конфиденциальности и правилами обработки персональных данных
        </span>
    </label>
    <button class="kyz-cta--form--submit" type="submit">
        Send
    </button>
</form>
<!-- [END] -->
<!-- success massage popups -->
<div class="kyz-success-msg-wrapper">
    <div class="kyz-success-msg-cont-box">
        <h1>thank you!</h1>
        <p class="p-text">your message has been sent</p>
    </div>
    <button class="close-button"><span>close</span> <img src="images/close-icons.svg" alt="close icons"></button>
</div>
<!-- [END] -->
