<!-- faq cards items -->
<div class="kyz-faq-content-cards">
	<h2 class="faq-content-title">О скидках</h2>
	<div class="kyz-content-items-box">
		<!-- faq items cards -->
		<div class="kyz-faq-content-items">
			<h4 class="faq-items-title">Микрохроматический интервал представляет собой деструктивный
				соноропериод. </h4>
			<p class="kyz-faq-items-desc p-text">Микрохроматический интервал представляет собой
				деструктивный соноропериод. Векторно-зеркальная синхронность просветляет рефрен.
				Серпантинная волна выстраивает винил. Мнимотакт синхронно трансформирует
				деструктивный винил. Пентатоника сонорна.
			</p>
		</div>
		<!-- [end] -->

	</div>
</div>
<!-- [end] -->
