	<!--=-=-=-=-=-=-=-=-=-=features slide section=-=-=-=-=-=-=-=-=-=[start]  -->
	<section class="kyz-feature-slide-section">
		<div class="kyz-feature-slide-wrapper">
			<!-- feature card items start -->
			<div class="kyz-feature-card">
				<h1 class="main-title">Подборка Все для Windows</h1>
			</div>
			<!-- [end] -->
			<!-- feature card items start -->
			<div class="kyz-feature-card  active-feature">
				<h1 class="main-title">all for
					servers
					collection</h1>
			</div>
			<!-- [end] -->
			<!-- feature card items start -->
			<div class="kyz-feature-card">
				<h1 class="main-title">all for windows collection
				</h1>
			</div>
			<!-- [end] -->
			<!-- feature card items start -->
			<div class="kyz-feature-card">
				<h1 class="main-title">all for
					servers
					collection</h1>
			</div>
			<!-- [end] -->
		</div>
	</section>
	<!--=-=-=-=-=-=-=-=-=-=features slide section=-=-=-=-=-=-=-=-=-=[end]  -->