<footer class="footer-section">
	<div class="kyz-container">
		<div class="footer__top-intro">
			<div class="footer-brand-widgets">
				<a href="/" class="footer__logo">
					<img src="../dist/images/logo-2.svg" width="237" height="60" loading="lazy" alt="Logo"
						class="footer__logo--img">
				</a>
			</div>
			<div class="footer__top-main-content">
				<div class="footer-account-widgets">
					<a href="cart.html" class="footer__account--cart">
						<span>3</span>
						<svg width="31" height="25" viewBox="0 0 31 25">
							<use xlink:href="../dist/images/sprites.svg#cart"></use>
						</svg>
						<span>$129</span>
					</a>
				</div>
				<div class="footer-chat-widgets">
					<a href="#" class="footer__chat chat-btn _notification _alt" title="Chat">
						<svg width="25" height="25" viewBox="0 0 25 25">
							<use xlink:href="../dist/images/sprites.svg#comment"></use>
						</svg>
					</a>
				</div>

				<div class="footer-search-widgets">
					<form action="#" class="footer__search">
						<label class="footer__search--label">
							<input type="search" name="search" required class="footer__search--input">
						</label>
						<button class="footer__search--submit" type="submit" title="Search">
							<svg width="23" height="25" viewBox="0 0 23 25">
								<use xlink:href="../dist/images/sprites.svg#search"></use>
							</svg>
						</button>
					</form>
				</div>

			</div>
		</div>
		<div class="footer__main-content-wrap">

			<div class="footer__nav-links-wrap">
				<nav class="footer__nav">
					<ul>
						<li>
							<a href="/dist/catalog.html">
								Catalog
							</a>
						</li>
						<li>
							<a href="/dist/about.html">
								About us
							</a>
						</li>
						<li>
							<a href="/dist/sale.html">
								Sale
							</a>
						</li>
						<li>
							<a href="contacts.html">
								Contacts
							</a>
						</li>
						<li>
							<a href="/dist/news.html">
								News
							</a>
						</li>
						<li>
							<a href="/dist/faq.html">
								FAQ
							</a>
						</li>
						<li>
							<a href="/dist/articles.html">
								Articles
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<!-- footer cta start here -->
			<div class="footer__cta-wrapper">
				<form action="#" class="footer__cta">
					<label class="footer__cta--label">
						<input type="text" name="name" placeholder="Name" required class="footer__cta--input">
					</label>
					<label class="footer__cta--label">
						<input type="email" name="email" placeholder="Email" required
							class="footer__cta--input">
					</label>
					<label class="footer__cta--label">
						<textarea name="message" placeholder="Message"
							class="footer__cta--textarea textarea-alt textarea-scrollbar"></textarea>
					</label>
					<label class="footer__cta--checkbox">
						<input type="checkbox" name="privacy-policy" required class="checkbox__input">
						<span class="checkbox__element"></span>
						<span class="checkbox__text">
							Ознакомлен с политикой конфиденциальности и правилами обработки персональных данных
						</span>
					</label>
					<button class="footer__cta--submit" type="submit">
						Send
					</button>

				</form>
			</div>
			<!-- [END] -->
		</div>
		<!-- footer bottom links and copyright  -->
		<div class="footer__bottom-wraapper">
			<div class="footer__policy-links">
				<ul>
					<li>
						<a href="/dist/term-service.html">
							Terms of Service
						</a>
					</li>
					<li>
						<a href="personal-data.html">
							Shipping Policy
						</a>
					</li>
					<li>
						<a href="/dist/privacy-policy.html">
							Privacy Policy
						</a>
					</li>
					<li>
						<a href="personal-data.html">
							Refund Policy
						</a>
					</li>
					<li>
						<a href="personal-data.html">
							Payment Policy
						</a>
					</li>
					<li>
						<a href="personal-data.html">
							cookie Policy
						</a>
					</li> 
				</ul> 
			</div>
			<p class="footer__min-text system-text">
				Постоянная величина поддерживает ортогональный определитель. Продолжая до бесконечности ряд 1,
				2, 3,
				5, 7, 11, 13, 17, 19, 23, 29, 31 и т.д., имеем комплексное число упорядочивает убывающий
				математический анализ
			</p>
		</div>
		<!-- [END] -->
	</div>
</footer>
