<header class="kyz-header-section @@class">
    <div class="kyz-container">
        <div class="kyz-header-wrapper">
            <div class="kyz-header-brand-box">
                <a href="index.html" class="kyz-header-brand-box__logo">
                    <img src="../dist/images/logo.svg" alt="Logo" width="236" height="60" loading="lazy"
                        class="kyz-header__logo--img">
                </a>
            </div>
            <nav class="kyz-header__nav">
                <div class="kyz-header__nav--body">
                    <ul class="kyz-header__nav--list">
                        <li>
                            <a href="/dist/catalog.html">
                                Catalog
                            </a>
                        </li>
                        <li>
                            <a href="/dist/sale.html">
                                Sale
                            </a>
                        </li>
                        <li>
                            <a href="/dist/news.html">
                                News
                            </a>
                        </li>
                        <li>
                            <a href="/dist/articles.html">
                                Articles
                            </a>
                        </li>
                        <li>
                            <a href="/dist/about.html">
                                About us
                            </a>
                        </li>
                        <li>
                            <a href="contacts.html">
                                Contacts
                            </a>
                        </li>
                        <li>
                            <a href="/dist/faq.html">
                                FAQ
                            </a>
                        </li>
                    </ul>
                    <div class="kyz-header__nav--wrap">
                        <div class="kyz-header__nav--account">
                            <div class="kyz-header__account">
                                <a href="#sign-in-popup" class="kyz-header__account--user">
                                    <svg width="23" height="27" viewBox="0 0 23 27">
                                        <use xlink:href="../dist/images/sprites.svg#user"></use>
                                    </svg>
                                </a>
                                <a href="#cart-popup" class="kyz-header__account--cart">
                                    <span>3</span>
                                    <svg width="31" height="25" viewBox="0 0 31 25">
                                        <use xlink:href="../dist/images/sprites.svg#cart"></use>
                                    </svg>
                                    <span>$129</span>
                                </a>
                                <div class="kyz-header__nav--message">
                                    <a href="#" class="chat-btn _min _notification" title="Chat">
                                        <svg width="25" height="25" viewBox="0 0 25 25">
                                            <use xlink:href="../dist/images/sprites.svg#comment"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <form action="#" class="kyz-header__nav--search">
                            <label class="kyz-header__nav--search--label">
                                <input type="search" name="search" class="kyz-header__nav--search--input">
                            </label>
                            <button class="kyz-header__nav--search--submit" type="submit" title="Search">
                                <svg width="23" height="25" viewBox="0 0 23 25">
                                    <use xlink:href="../dist/images/sprites.svg#search"></use>
                                </svg>
                            </button>
                        </form>
                        <button class="kyz-header__burger" type="button" aria-label="Menu">
                            <img width="30" height="23.4" src="../dist/images/trigger.svg" alt="trigger icons">
                        </button>
                    </div>
                </div>
            </nav>

        </div>
    </div>
</header>