	<!--=-=-=-=-=-=-=-=-=-=news section=-=-=-=-=-=-=-=-=-=[start]  -->
	<section class="kyz-news-section">
		<div class="kyz-container">
			<div class="kyz-news-wrapper">
				<h3 class="kyz-news-subtitle">Новости</h3>
				<!-- single news start here -->
				<!-- <div class="kyz-news-single--item"></div> -->
				<!-- [end] -->
				<!-- features news start here -->
				<div class="kyz-news-feature--box">
					<!-- feature news card  -->
					<div class="kyz-news-feature-card">
						<h4 class="kyz-news-card-title"><a href="/">Новый релиз Касперского</a></h4>
						<span class="kyz-news-post-time">12 мая 2023</span>
						<div class="kyz-news-main-cont">
							<img src="images/news.webp" width="220" height="140" alt="news modal image"
								class="kyz-news-modal-img">
							<div class="kyz-news-text-box">
								<p class="kyz-news-description small-text">Микрохроматический интервал
									представляет собой
									деструктивный соноропериод. Векторно-зеркальная синхронность просветляет
									рефрен. Серпантинная волна выстраивает винил. Мнимотакт синхронно
									трансформирует деструктивный винил. </p>
								<a href="/" class="kyz-news-link-btn">Читать дальше </a>
							</div>
						</div>
					</div>
					<!-- [end] -->
					<!-- feature news card  -->
					<div class="kyz-news-feature-card">
						<h3 class="kyz-news-card-title"><a href="/">Диалектический характер выбирает лирический
								замысел</a></h3>
						<span class="kyz-news-post-time">12 мая 2023</span>
						<div class="kyz-news-main-cont">
							<img src="images/news.webp" width="220" height="140" alt="news modal image"
								class="kyz-news-modal-img">
							<div class="kyz-news-text-box">
								<p class="kyz-news-description  small-text">Микрохроматический интервал представляет
									собой
									деструктивный соноропериод. Векторно-зеркальная синхронность просветляет
									рефрен. Серпантинная волна выстраивает винил. Мнимотакт синхронно
									трансформирует деструктивный винил. </p>
								<a href="/" class="kyz-news-link-btn">Читать дальше </a>
							</div>
						</div>
					</div>
					<!-- [end] -->
					<!-- feature news card  -->
					<div class="kyz-news-feature-card">
						<h3 class="kyz-news-card-title"><a href="/">
								Комбинаторное приращение традиционно диссонирует диссонансный стиль, что связано
								со смысловыми
							</a></h3>
						<span class="kyz-news-post-time">12 мая 2023</span>
						<div class="kyz-news-main-cont">

							<div class="kyz-news-text-box">
								<p class="kyz-news-description  small-text">Микрохроматический интервал представляет
									собой
									деструктивный соноропериод. Векторно-зеркальная синхронность просветляет
									рефрен. Серпантинная волна выстраивает винил. Мнимотакт синхронно
									трансформирует деструктивный винил. Пентатоника сонорна. Показательный
									пример – крещендирующее хождение регрессийно вызывает мнимотакт, это и есть
									одномоментная вертикаль в сверхмногоголосной полифонической ткани.</p>
								<a href="/" class="kyz-news-link-btn">Читать дальше </a>
							</div>
						</div>
					</div>
					<!-- [end] -->
					<!-- feature news card  -->
					<div class="kyz-news-feature-card">
						<h3 class="kyz-news-card-title"><a href="/">Новый релиз Касперского </a></h3>
						<span class="kyz-news-post-time">12 мая 2023</span>
						<div class="kyz-news-main-cont">
							<img src="images/news.webp" width="220" height="140" alt="news modal image"
								class="kyz-news-modal-img">
							<div class="kyz-news-text-box">
								<p class="kyz-news-description  small-text">Микрохроматический интервал представляет
									собой
									деструктивный соноропериод. Векторно-зеркальная синхронность просветляет
									рефрен. Серпантинная волна выстраивает винил. Мнимотакт синхронно
									трансформирует деструктивный винил. </p>
								<a href="/" class="kyz-news-link-btn">Читать дальше </a>
							</div>
						</div>
					</div>
					<!-- [end] -->
				</div>
				<!-- [end] -->
			</div>
		</div>
	</section>
	<!--=-=-=-=-=-=-=-=-=-=news section=-=-=-=-=-=-=-=-=-=[end]  -->