 <!-- =-=-=-=-=-=-=-=-=-=-news letter section start =-=-=-=-=-[start] -->
 <section class="newsletter-section">
    <div class="newsletter-wrapper">
        <h3 class="newsletter-title">
            Хотите получать свежие новости?
            Подпишитесь на нашу рассылку
        </h3>
        <form class="newsletter">
            <label class="newsletter--label">
                <input type="text" name="name" placeholder="Name" required
                    class="newsletter--input input">
            </label>
            <label class="newsletter--label">
                <input type="email" name="email" placeholder="Email" required
                    class="newsletter--input input">
            </label>
            <label class="newsletter--checkbox">
                <input type="checkbox" name="privacy" required class="checkbox__input">
                <span class="checkbox__element"></span>
                <span class="checkbox__text">Ознакомлен с политикой конфиденциальности и
                    правилами обработки персональных данных</span>
            </label>
            <button class="newsletter--submit btn _min _mode-3" type="submit">
                Отправить
            </button>
        </form>
    </div>
</section>
<!-- [end]=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->