<!--=-=-=-=-=-=-=-=-=-=news section=-=-=-=-=-=-=-=-=-=[start]  -->
<section class="kyz-news-section">
	<div class="kyz-container">
		<div class="kyz-news-wrapper">
			<h3 class="kyz-news-subtitle">Новости</h3>
			<!-- single news start here -->
			<!-- <div class="kyz-news-single--item"></div> -->
			<!-- [end] -->
			<!-- features news start here -->
			@@include("./_news-two-column-grid.html")
			<!-- [end] -->
		</div>
	</div>
</section>
<!--=-=-=-=-=-=-=-=-=-=news section=-=-=-=-=-=-=-=-=-=[end]  -->
