<div class="kyz-order-history-details-cont">
    <!-- order- history item start -->
    <div class="kyz-order-details-item">
        <h3 class="kyz-order-date">12 may 2023</h3>
        <ul class="kyz-order-details">
            <li class="order-id">№ 3478741</li>
            <li class="price-total">
                <span> total:</span>
                <div class="kyz-product-price">
                    <span class="discount-price">$13,00</span>
                    <span class="current-price">$12,00</span>
                </div>
            </li>
            <li>completed</li>
            <li class="view-details-btn"><a href="/">view details</a></li>
        </ul>
        <ul class="kyz-order-details">
            <li class="order-id">№ 3478741</li>
            <li class="price-total">
                <span> total:</span>
                <div class="kyz-product-price">
                    <span class="discount-price">$13,00</span>
                    <span class="current-price">$12,00</span>
                </div>
            </li>
            <li>completed</li>
            <li class="view-details-btn"><a href="/">view details</a></li>
        </ul>
    </div>
    <!-- [end] -->
    <!-- order- history item start -->
    <div class="kyz-order-details-item">
        <h3 class="kyz-order-date">11 may 2023</h3>
        <ul class="kyz-order-details">
            <li class="order-id">№ 3478741</li>
            <li class="price-total">
                <span> total:</span>
                <div class="kyz-product-price">
                    <span class="discount-price">$13,00</span>
                    <span class="current-price">$12,00</span>
                </div>
            </li>
            <li>completed</li>
            <li class="view-details-btn"><a href="/">view details</a></li>
        </ul>
        <ul class="kyz-order-details">
            <li class="order-id">№ 3478741</li>
            <li class="price-total">
                <span> total:</span>
                <div class="kyz-product-price">
                    <span class="discount-price">$13,00</span>
                    <span class="current-price">$12,00</span>
                </div>
            </li>
            <li>completed</li>
            <li class="view-details-btn"><a href="/">view details</a></li>
        </ul>
    </div>
    <!-- [end] -->
</div>