<div class="kyz-payment-methods-box">
    <div class="kyz-payment-methods-wrapper">
         <div class="kyz-required-payment-methods">
            <h3 class="kyz-payment-title">Select payment method</h3>
            <ul class="kyz-payment-methods-list">
                <!-- payment methods -items start -->
                <li>
                    <div class="kyz-checkbox">
                        <label for="checked-item1">
                        <input type="checkbox" name="" id="checked-item1">
                        <div class="custom-check-box"></div>
                        <span><img src="images/paypal-marchent-icon.svg" alt="paypal icons"></span>
                    </label>
                    </div>
                </li>
                <!-- [end] -->
                <!-- payment methods -items start -->
                <li>
                    <div class="kyz-checkbox">
                        <label for="checked-item2">
                        <input type="checkbox" name="" id="checked-item2">
                        <div class="custom-check-box"></div>
                        <span>Another merchant</span>
                    </label>
                    </div>
                </li>
                <!-- [end] -->
                <!-- payment methods -items start -->
                <li>
                    <div class="kyz-checkbox">
                        <label for="checked-item3">
                        <input type="checkbox" name="" id="checked-item3">
                        <div class="custom-check-box"></div>
                        <span>Another merchant</span>
                    </label>
                    </div>
                </li>
                <!-- [end] -->
                <!-- payment methods -items start -->
                <li>
                    <div class="kyz-checkbox">
                        <label for="checked-item4">
                        <input type="checkbox" name="" id="checked-item4">
                        <div class="custom-check-box"></div>
                        <span>Another merchant</span>
                    </label>
                    </div>
                </li>
                <!-- [end] -->
                <!-- payment methods -items start -->
                <li>
                    <div class="kyz-checkbox">
                        <label for="checked-item5">
                        <input type="checkbox" name="" id="checked-item5">
                        <div class="custom-check-box"></div>
                        <span>Another merchant</span>
                    </label>
                    </div>
                </li>
                <!-- [end] -->
                <!-- payment methods -items start -->
                <li>
                    <div class="kyz-checkbox">
                        <label for="checked-item6">
                        <input type="checkbox" name="" id="checked-item6">
                        <div class="custom-check-box"></div>
                        <span>Another merchant</span>
                    </label>
                    </div>
                </li>
                <!-- [end] -->
                <!-- payment methods -items start -->
                <li>
                    <div class="kyz-checkbox">
                        <label for="checked-item7">
                        <input type="checkbox" name="" id="checked-item7">
                        <div class="custom-check-box"></div>
                        <span>Another merchant</span>
                    </label>
                    </div>
                </li>
                <!-- [end] -->
            </ul>
         </div>
         <div class="kyx-payment-input-box">
            <h3 class="kyz-payment-title">email</h3>
            <form class="kyz-payment-input-form">
                <div class="kyz-input-group">
                    <input type="email" required name="email" class="kyz-input-items"
                        placeholder="user@gmail.com">
                </div>

                <button class="kyz-button _dark-green-button @@SelectPayMethod">Buy</button>
                <button class="kyz-button _lime-button payment-btn @@SelectedPayMethod"><span>Buy now with</span> <img src="images/paypal-marchent-icon.svg" alt="paypal icons"></button>
            </form>
         </div>
    </div>
</div>