	<!-- product filter start -->
    <div class="kyz-product-filter-widgets @@class">
        <h4 class="filter-product-title">all goods</h4>
        <ul class="filter-category-list">
            <li class="filter-cat-list-item">
                <button class="filter-button">Network</button>
                <ul>
                    <li>
                        <button class="filter-button active-btn">VmWare</button>
                    </li>
                    <li>
                        <button class="filter-button">Parallels</button>
                    </li>
                    <li>
                        <button class="filter-button">Acronis</button>
                    </li>
                    <li>
                        <button class="filter-button">Cisco</button>
                    </li>
                </ul>
            </li>
            <li class="filter-cat-list-item">
                <button class="filter-button">Network</button>
            </li>
            <li class="filter-cat-list-item">
                <button class="filter-button">Network</button>
            </li>
        </ul>
        <div class="price-filter-box">
            <h4 class="filter-product-title">price</h4>
            <div class="price-filter-input-box">
                <input type="text" class="from" placeholder="From">
                <input type="text" class="to" placeholder="To">
            </div>
        </div>
    </div>
    <!-- [end] -->