<!--=-=-=-=-=-=-=-=-=-=product cta section=-=-=-=-=-=-=-=-=-=[start]  -->
<section class="kyz-product-cta-section">
    <div class="kyz-container">
        <div class="kyz-product-cta-wrapper">
            <div class="kyz-product-cta-content">
                <h1 class="main-title">Vmware Workstation 17 Pro Lifetime License</h1>
            </div>
            <div class="kyz-product-cta-modal">
                <img src="images/licence-img.webp" width="669" height="453"
                    alt="product cta modal image" class="kyz-product-cta-modal-img pc-modal">
                <img src="images/licence-img.webp" width="354" height="313"
                    alt="product cta modal image" class="kyz-product-cta-modal-img tablet-modal">
                <img src="images/licence-img.webp" width="334" height="226"
                    alt="product cta modal image" class="kyz-product-cta-modal-img mobo-modal">
                <span class="kyz-product-cta-price">12,00 $</span>
            </div>
        </div>
    </div>
</section>
<!--=-=-=-=-=-=-=-=-=-=product cta section=-=-=-=-=-=-=-=-=-=[end]  -->