	<!--=-=-=-=-=-=-=-=-=-=Sale week section=-=-=-=-=-=-=-=-=-=[start]  -->
	<section class="kyz-sale-week-section">
		<div class="kyz-container_large">
			<div class="kyz-sale-week-wrapper">
				<!-- sles week banner start -->
				<div class="kyz-sale-week-banner">
					<h1 class="main-title">Sale of the week</h1>
					<a href="/" class="kyz-sale-week-link">go to the sale page</a>
				</div>
				<!-- [end] -->
				<!-- product card start here -->
				<div class="kyz-product-cards-item active-card">
					<p class="small-text kyz-product-category">Network / Vmware</p>
					<h4 class="kyz-product-title">Vmware Workstation 17 Pro Lifetime License</h4>
					<img src="images/product-2.webp" width="283.45" height="283.45" alt="product image"
						class="kyz-product-img-modal">
					<div class="kyz-product-price">
						<span class="discount-price">$30,00 </span>
						<span class="current-price">$12,00</span>
					</div>
					<button class="kyz-button _dark-green-button">add to cart</button>
				</div>
				<!-- [end] -->
				<!-- product card start here -->
				<div class="kyz-product-cards-item">
					<p class="small-text kyz-product-category">Network / Vmware</p>
					<h4 class="kyz-product-title">Vmware Workstation 17 Pro Lifetime License</h4>
					<img src="images/product-2.webp" width="283.45" height="283.45" alt="product image"
						class="kyz-product-img-modal">
					<div class="kyz-product-price">
						<span class="discount-price">$30,00 </span>
						<span class="current-price">$12,00</span>
					</div>
					<button class="kyz-button _dark-green-button">add to cart</button>
				</div>
				<!-- [end] -->
				<!-- product card start here -->
				<div class="kyz-product-cards-item">
					<p class="small-text kyz-product-category">Network / Vmware</p>
					<h4 class="kyz-product-title">Vmware Workstation 17 Pro Lifetime License</h4>
					<img src="images/product-2.webp" width="283.45" height="283.45" alt="product image"
						class="kyz-product-img-modal">
					<div class="kyz-product-price">
						<span class="discount-price">$30,00 </span>
						<span class="current-price">$12,00</span>
					</div>
					<button class="kyz-button _dark-green-button">add to cart</button>
				</div>
				<!-- [end] -->
				<!-- product card start here -->
				<div class="kyz-product-cards-item">
					<p class="small-text kyz-product-category">Network / Vmware</p>
					<h4 class="kyz-product-title">Vmware Workstation 17 Pro Lifetime License</h4>
					<img src="images/product-2.webp" width="283.45" height="283.45" alt="product image"
						class="kyz-product-img-modal">
					<div class="kyz-product-price">
						<span class="discount-price">$30,00 </span>
						<span class="current-price">$12,00</span>
					</div>
					<button class="kyz-button _dark-green-button">add to cart</button>
				</div>
				<!-- [end] -->
			</div>
		</div>
	</section>
	<!--=-=-=-=-=-=-=-=-=-=Sale week section=-=-=-=-=-=-=-=-=-=[end]  -->