@mixin _992 {
	@media (min-width: 992px) {
		@content;
	}
}
@mixin _768 {
	@media (min-width: 768px) {
		@content;
	}
}
@mixin _991 {
	@media (max-width: 991px) {
		@content;
	}
}

@mixin _767 {
	@media (max-width: 767px) {
		@content;
	}
}
@mixin _550 {
	@media (max-width: 550px) {
		@content;
	}
}

$maxWidth: 1580;

@mixin font-include($font_name, $font_weight, $font_display, $font_style, $font_src) {

	font-weight: $font_weight;
	font-family: $font_name;
	font-display: $font_display; 
	font-style: $font_style;

	src: local($font_name), 
	url('webfont/#{$font_src}.woff2') format('woff2'),
        url('webfont/#{$font_src}.woff') format('woff'),
        url('webfont/#{$font_src}.ttf') format('truetype'),
        url('webfont/#{$font_src}.svg#Gotham-Book') format('svg');
}
