$container: 1580;

:root {
	--primary-font: 'Gotham', sans-serif;
	--dark-green: #008179;
	--light-green:  #00D198;
	--lime-color:  #D7FF26;
	--light-yellow:  #FBFFEA;
	--white: #FFFfff;
	--black: #000000; 
	
}

@font-face {
	@include font-include('Gotham', 400, swap, normal, 'Gotham-Book');
}

@font-face {
	@include font-include('Gotham', 900, swap, normal, 'Gotham-Black');
}

@font-face {
	@include font-include('Gotham', 700, swap, normal, 'Gotham-Bold');
}
