<div class="kyz-coupon-quantity-box">
    <div class="kyz-product-quatity-box">
        <h5 class="kyz-title">Quantity</h5>
        <div class="kyz-product-quatity-body">
            <button class="product__amount--arrow amount-btn _down" type="button"
                title="Remove product">
                <svg width="24" height="15" viewBox="0 0 24 15">
                    <use xlink:href="images/sprites.svg#arrow-down">
                    </use>
                </svg>
            </button>
            <label><input type="number" name="amount" value="1" placeholder="Amount" required
                    min="1" class="product__amount--input amount-input"></label>
            <button class="product__amount--arrow amount-btn _up" type="button"
                title="Add product">
                <svg width="24" height="15" viewBox="0 0 24 15">
                    <use xlink:href="images/sprites.svg#arrow-up">
                    </use>
                </svg>
            </button>
        </div>
    </div>
    <div class="kyz-product-coupon-box">
        <h5 class="kyz-title">Coupon</h5>
        <div class="product__coupon--body">
            <label class="product__coupon--label">
                <input type="text" name="coupon" value="sdfvk42" class="product__coupon--input">
            </label>
            <button class="product__coupon--apply" type="button">
                Apply coupon
            </button>
        </div>
    </div>
</div>