<div class="kyz-product-slides-box">
    <div class="kyz-product-slides-items"><img width="616px" height="658px"
            src="images/product-details-product-1.webp" alt="">
    </div>
</div>
<div class="kyz-product-slides-gallery">
    <div class="kyz-product-gallery-items"><img width="140px" height="139px"
            src="images/product-1.webp" alt=""></div>
    <div class="kyz-product-gallery-items current-item"><img width="140px" height="139px"
            src="images/product-2.webp" alt=""></div>
    <div class="kyz-product-gallery-items"><img width="140px" height="139px"
            src="images/product-3.webp" alt=""></div>
    <div class="kyz-product-gallery-items"><img width="140px" height="139px"
            src="images/product-1.webp" alt=""></div>
</div>