.kyz-hero {
  &-section {
    position: relative;
    background-color: var(--light-green);
    @include _768 {
      padding-top: 57px;
      padding-bottom: 67px;
    }
    @include _992 {
      padding-top: 111px;
      padding-bottom: 108px;
    }
    padding-top: 30px;
    padding-bottom: 65px;
    .kyz-container_medium {
		@include _768 {
			padding-left: 54px;
			padding-right: 54px;
		  }
      @include _992 {
        padding-left: 30px;
        padding-right: 122px;
      }
      padding-left: 42px;
      padding-right: 42px;
    }
  }
  &__content {
    margin-bottom: 30px;
    @include _992 {
      max-width: 49%;
      margin-bottom: 168px;
    }
  }
  &-button {
    display: block;
    margin-left: 0;
  }
  &__main-cont-wrap {
    position: relative;
  }
  &__product {
    @include _992 {
      padding-bottom: 0;
    }
    @include _991 {
      padding-bottom: 49px;
    }
    @include _767 {
      padding-bottom: 36px;
    }
    &--image {
      position: relative;
      top: 0;
      left: 0;
      right: auto;
      padding-right: 0px;
      width: 283px;
      height: 145px;
      img {
        width: 100%;
        height: 100%;
      }
      @include _768 {
        padding-right: 0px;
        width: 573px;
        height: 295px;
        right: 0;
        left: auto;
      }
      @include _992 {
        position: absolute;
        right: 0;
        left: auto;
        top: 36px;
        bottom: 0;
        padding-right: 0;
        width: 679.61px;
        height: 349.51px;
      }
     @include _991{
      margin-left: auto;
      margin-right: auto;
     }
    }
    &--price {
      max-width: 142px;
      background: #d7ff26;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
      border-radius: 47.876px;
      height: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--primary-color);
      font-style: normal;
      font-weight: 900;
      font-size: 26px;
      line-height: 31px;
      color: var(--dark-green);
      position: absolute;
      right: -9px;
      top: 50%;
      width: 100%;
      @include _768 {
        font-size: 32px;
        line-height: 38px;
        height: 62px;
        max-width: 206px;
        top: 50%;
        right: -30px;
      }
      @include _992 {
        font-size: 52px;
        line-height: 62px;
        height: 95px;
        max-width: 314px;
        top: calc(18% + 36px);
        right: -122px;
      }
    }
  }
}
