.kyz-main-body-content-wrap{
    &.prodcut-details--page {
        .kyz-feedback-section {
            padding-top: 0;
            padding-bottom: 102px;
            @include _991{
                padding-bottom: 154px;
            }
            @include _767{
                padding-bottom: 82px;
            }
            .kyz-container_large{
                @include _991{
                    padding-left: 6px;
                    padding-right: 6px;
                }
                @include _767{
                    padding-left: 4px;
                    padding-right: 4px;
                }
            }
          }
          .kyz-feedback-main-wrapper {
            padding-left: 160px;
            padding-right: 160px;
            padding-top: 70px;
            padding-bottom: 117px;
            background-color: var(--light-yellow);
            @include _991{
                padding-left: 48px;
                padding-right: 48px;
                padding-top: 66px;
                padding-bottom: 82px;
            }
            @include _767{
                padding-left: 38px;
                padding-right: 38px;
                padding-top: 56px;
                padding-bottom: 91px;
            }
          }
          .kyz-product-cta-section {
            margin-bottom: 129px;
            @include _991{
            margin-bottom: 111px;
            }
            @include _767{
                margin-bottom: 71px;
                }
        }
        .kyz-feature-slide-section {
            margin-bottom: 125px;
            @include _991{
                margin-bottom: 137px;
                }
                @include _767{
                    margin-bottom: 71px;
                    }
        }
    }
}
