.kyz-main-body-content-wrap {
  &.reset-password--page {
    .kyz-authentication-main-wrapper {
      padding-bottom: 0;
    }
    .kyz-auth-input-authentication-wrap-cont {
      grid-template-columns: repeat(auto-fill, minmax(300px, auto));
      .kyz-button {
        @include _991 {
          grid-column: 2;
          max-width: 100%;
        }
        @include _767 {
          grid-column: unset;
          max-width: 100%;
        }
      }
      .kyz-input-group-content-box {
        p {
          color: var(--dark-green);
          a {
            font-weight: 900;
            color: var(--dark-green);
          }
        }
      }
      .kyz-input-group-content-box {
        .kyz-success-title {
          font-weight: 900;
        }
      }
    }
    .kyz-auth-details-content {
      &.reset-password-four,
      &.reset-password-two,
      &.reset-password-one {
        max-width: 940px;
      }
      &.reset-password-four {
        .kyz-button {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
 .kyz-product-cta-section {
      margin-bottom: 162px;
      @include _991{
        margin-bottom: 124px;
      }
      @include _767{
        margin-bottom: 82px;
      }
    }
  }
}
